In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import googlemaps
import os

In [4]:
def scrape_wiki():

    # Wikipedia link of interest

    pages = "https://en.wikipedia.org/wiki/List_of_shopping_malls_in_the_Philippines"

    # Use beautiful soup to scrape and put into a dataframe list

    reqs = requests.get(pages, headers={'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64)'})
    soup = BeautifulSoup(reqs.content, 'html.parser')
    description = soup.find_all("table", class_="wikitable sortable")
    df = pd.read_html(str(description))
    
    pages = 'https://en.wikipedia.org/wiki/List_of_shopping_malls_in_Metro_Manila'
    # Use beautiful soup to scrape and put into a dataframe list

    reqs = requests.get(pages, headers={'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64)'})
    soup = BeautifulSoup(reqs.content, 'html.parser')
    description = soup.find_all("table", class_="wikitable sortable")
    df2 = pd.read_html(str(description))

     # Combine all tables and finalize fields
    df = pd.concat(df[0:18]).reset_index(drop=True)
    df2 = pd.concat(df2[0:8]).reset_index(drop=True)
    df_final = pd.concat([df, df2]).reset_index(drop=True)
    df_final = df_final[['Name','Developer', 'Floor area (m²)', 'Building', 'City/municipality', 'Image', 'Location', 'Province', 
                     'Remarks', 'Retail Space (m2)', 'Year opened']]

    df_final.to_csv('wiki_raw.csv', index=False)
    df.to_csv('wiki_manila.csv', index = False)
    df2.to_csv('wiki_non_manila.csv', index = False)

    return df_final

In [5]:
scrape_wiki()

C:\Users\jrdaos\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\jrdaos\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:24: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\jrdaos\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Name,Developer,Floor area (m²),Building,City/municipality,Image,Location,Province,Remarks,Retail Space (m2),Year opened
0,Mall of Alnor (MOA),Alnor Prime Properties,NaN,NaN,Cotabato City,NaN,NaN,Maguindanao,NaN,NaN,NaN
1,CityMall Cotabato,DoubleDragon Properties,NaN,NaN,Cotabato City,NaN,NaN,Maguindanao,The biggest CityMall at its opening in terms o...,NaN,NaN
2,South Seas Mall,NaN,NaN,NaN,Cotabato City,NaN,NaN,Maguindanao,NaN,NaN,NaN
3,Puregold and Centro Shopping Center,Lucio and Susan Co,NaN,NaN,Cotabato City,NaN,NaN,Maguindanao,Puregold has 2 branches in Cotabato City in al...,NaN,NaN
4,Superama Hypermart,Tan Abing,NaN,NaN,Cotabato City,NaN,NaN,Maguindanao,"Home grown hypermart in Cotabato City, current...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
708,Ayala Malls Parklinks,NaN,NaN,NaN,NaN,NaN,Quezon CityBagumbayan,NaN,"A 52,000-square-metre (560,000 sq ft) regional...",NaN,NaN
709,Ayala Malls Southvale,NaN,NaN,NaN,NaN,NaN,Las PiñasAlmanza,NaN,"A 6,000-square-metre (65,000 sq ft) mall along...",NaN,NaN
710,Deca Mall,NaN,NaN,NaN,NaN,NaN,Tondo,NaN,The retail component of Urban Deca Homes Manil...,NaN,NaN
711,Mitsukoshi Mall,NaN,NaN,NaN,NaN,NaN,TaguigBonifacio Global City,NaN,A three-level lifestyle mall to be located nex...,NaN,NaN
712,Westside Mall,NaN,NaN,NaN,NaN,NaN,ParañaqueEntertainment City,NaN,The retail component of Megaworld Corporation'...,NaN,NaN

In [44]:
df

,Unnamed: 0,Name,City/municipality,Province,Developer,Remarks
0,0,Mall of Alnor (MOA),Cotabato City,Maguindanao,Alnor Prime Properties,NaN
1,7,101 Shopping Mall,Legazpi,Albay,NaN,NaN
2,10,E-Mall,Naga,Camarines Sur,NaN,NaN
3,42,Regent Central Commercial Complex,Iriga,Camarines Sur,Regent Land Developer Corp.,NaN
4,50,Xentro Mall Malilipot,Malilipot,Albay,NaN,NaN
5,57,Fragante Citimall,Tuguegarao,Cagayan,NaN,First shopping mall in North Luzon
6,72,Vista Mall Tuguegarao,Tuguegarao,Cagayan,Vista Land & Lifescapes,Upcoming
7,74,SM Center Tuguegarao Downtown,Tuguegarao,Cagayan,SM Prime Holdings,Second SM Mall in Cagayan Valley and First SM ...
8,95,Name,City/municipality,Province,Developer,Remarks
9,116,Vista Mall Daang Hari,Bacoor,Cavite,Vista Land & Lifescapes,NaN
10,136,Name,City/municipality,Province,Developer,Remarks
11,145,Name,City/municipality,Province,Developer,Remarks
12,148,Name,City/municipality,Province,Developer,Remarks
13,156,Gaisano Grand Mall Tandag (Soon to Rise),Tandag,Surigao del Sur,NaN,NaN
14,169,Fiesta Mall Paniqui,Paniqui,Tarlac,NaN,NaN
15,202,Tarlac Central Mall,Tarlac City,Tarlac,NaN,NaN
16,203,Tarlac Central Mall,Tarlac City,Tarlac,NaN,NaN
17,224,Bohol Quality Superstore Jagna,Jagna,Bohol,Bohol Quality Corp.,NaN
18,278,SM Seaside City Cebu,Cebu City,Cebu,SM Prime Holdings,Biggest mall in the Visayas region and 4th lar...
19,286,Centerpoint Plaza,Baguio,NaN,NaN,"Anchored by Puregold, Robinsons & BDO."
20,288,Maharlika Complex,Baguio,NaN,NaN,The 1st mall in the region; near Baguio City M...
21,293,168 Mall,Davao City,Davao del Sur,Filipino-Chinese Traders Association (Davao City),NaN
22,313,NCCC Mall Davao,Davao City,Davao del Sur,New City Commercial Corp.,Site of the deadly 2017 Davao City mall fire.
23,323,Gaisano Capital Ormoc,Ormoc,Leyte,Gaisano,NaN
24,362,GT 168 Mall,Boac,Marinduque,"Golden Three 168 Trading, Inc.",First mall in Marinduque
25,378,SBG Strip Mall,Iligan,Lanao del Norte,NaN,NaN
26,379,Squarelland Shopping Centre,Iligan,Lanao del Norte,NaN,NaN
27,389,Vista Mall,Cagayan de Oro,Misamis Oriental,Vista Land & Lifescapes,NaN
28,392,Ororama Supercenter Cogon,Cagayan de Oro,Misamis Oriental,Ororama Supercenters Inc.,NaN
29,394,Market City,Cagayan de Oro,Misamis Oriental,Ororama Supercenters Inc.,NaN
30,416,Capitol Shopping Center,Bacolod,Negros Occidental,NaN,NaN
31,456,Lopue's South Centre,Bacolod,Negros Occidental,NaN,NaN
32,472,Street of Festive Walk,Iloilo City,Iloilo,Megaworld Corporation,NaN

In [38]:
df = pd.read_csv('duplicates.csv')

In [39]:
df2 = pd.read_csv('complete_final_consolidated_herewego.csv')

In [40]:
df3 = pd.read_csv('non_wiki_manual_scraped.csv')

In [41]:
df2 = df2[~df2['NAME'].isin(df3['NAME'])]

In [68]:
df2 = (df2[df2['NAME'].isin(df['Name'])].drop_duplicates('NAME'))

In [75]:
df2.to_csv('wiki_maps_herewego_additional.csv')

In [74]:
df[~df['Name'].isin(df2['NAME'])].iloc[0]

Unnamed: 0                           7
Name                 101 Shopping Mall
City/municipality              Legazpi
Province                         Albay
Developer                          NaN
Remarks                            NaN
Name: 1, dtype: object

In [80]:
df = pd.read_csv('clean.csv')

In [86]:
df = df.iloc[:,1:]

In [89]:
df.append(df2, sort = False).to_csv('complete_final_consolidated.csv', index = False)

In [388]:
df = pd.read_csv('complete_final_consolidated.csv')

In [389]:
df.columns

Index(['ID', 'NAME', 'DEVELOPER', 'LAT', 'LONG', 'SOURCE_ID', 'SOURCE_NAME',
       'SOURCE_GEOLOC', 'RECORD_DATE', 'REGION', 'PROVINCE', 'CITY', 'BRGY',
       'PSGC'],
      dtype='object')

In [390]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 14 columns):
ID               772 non-null int64
NAME             772 non-null object
DEVELOPER        445 non-null object
LAT              772 non-null float64
LONG             772 non-null float64
SOURCE_ID        101 non-null object
SOURCE_NAME      772 non-null object
SOURCE_GEOLOC    772 non-null object
RECORD_DATE      772 non-null object
REGION           772 non-null object
PROVINCE         772 non-null object
CITY             772 non-null object
BRGY             772 non-null object
PSGC             771 non-null object
dtypes: float64(2), int64(1), object(11)
memory usage: 84.6+ KB

In [286]:
df['LONG'].value_counts()

120.980934    1
124.845442    1
120.645076    1
120.855349    1
121.056904    1
             ..
123.416558    1
121.031892    1
120.864997    1
122.568572    1
122.513256    1
Name: LONG, Length: 772, dtype: int64

In [265]:
wiki_m['Name'].nunique()

473

In [207]:
wiki_m = pd.read_csv('wiki_manila.csv')

In [208]:
wiki_nm = pd.read_csv('wiki_non_manila.csv')

In [240]:
non_wiki = pd.read_csv('non_wiki_manual_scraped.csv')

In [214]:
wiki_m['Name'].replace(to_replace="[[].*?[]]", value=r"", regex=True, inplace=True)
wiki_nm['Name'].replace(to_replace="[[].*?[]]", value=r"", regex=True, inplace=True)

In [215]:
nm_wiki = wiki_m['Name'].unique().tolist()

In [216]:
m_wiki = wiki_nm['Name'].unique().tolist()

In [127]:
test = wiki_m['Name']

In [132]:
test = test.append(non_wiki['NAME'])

In [280]:
len(wiki_nm)

233

In [276]:
len(m_wiki)

231

In [275]:
len(df[df['NAME'].isin(m_wiki)]) + 1

228

In [244]:
len(nm_wiki) - 1  # -2

472

In [260]:
len(df[df['NAME'].isin(nm_wiki)])

470

In [250]:
comb = m_wiki + nm_wiki + non_wiki['NAME'].tolist()

In [277]:
test = pd.Series(m_wiki).reset_index()

In [278]:
test[~test[0].isin(df['NAME'])]

     index                            0
158    158  San Antonio Shopping Center
199    199   The Shops at the Boulevard
223    223               Tutuban Center
230    230                Westside Mall

In [259]:
df[~df['NAME'].isin(comb)]

,ID,NAME,DEVELOPER,LAT,LONG,SOURCE_ID,SOURCE_NAME,SOURCE_GEOLOC,RECORD_DATE,REGION,PROVINCE,CITY,BRGY,PSGC
644,644,Tutuban Center (Prime Block Building),NaN,14.606817,120.972958,NaN,Wikipedia,Google Maps,16/02/2020,NATIONAL CAPITAL REGION (NCR),"NCR, FOURTH DISTRICT (Not a Province)",PASAY CITY,Barangay 79,PH137605079

In [233]:
comb = non_wiki['NAME'].tolist() + comb

In [187]:
len(df[df['NAME'].isin(comb)])

698

In [85]:
add = pd.read_csv('add.csv')

In [84]:
add.to_csv('add.csv', index = False)

In [68]:
import geopandas as gpd
from shapely.geometry import Point

In [86]:
def psgc_integ(mall_list):
    bgy_df = gpd.read_file('Barangays.shp')
    psgc_df = pd.DataFrame(columns = ['Reg_Name', 'Pro_Name', 'Mun_Name', 'Bgy_Name', 'Bgy_Code'])
    mall_list['points'] = [Point(xy) for xy in zip(mall_list.LONG, mall_list.LAT)]

    for points in mall_list['points']:
        try:
            psgc_df = psgc_df.append(bgy_df[bgy_df['geometry'].contains(points)][['Reg_Name', 'Pro_Name', 'Mun_Name', 'Bgy_Name','Bgy_Code']])

        except IndexError:
            psgc_df = psgc_df.append(pd.Series(), ignore_index=True)

    psgc_df = psgc_df.reset_index(drop = True)

    mall_list = mall_list.merge(psgc_df, left_index=True, right_index=True)
    mall_list = mall_list.rename(columns={'Reg_Name':'REGION', 'Pro_Name':'PROVINCE', 'Mun_Name':'ÇITY', 'Bgy_Name':'BRGY', 'Bgy_Code':'PSGC'})
    mall_list['ID'] = mall_list.index
    return mall_list

In [87]:
psgc_integ(add).to_csv('add_complete.csv', index = False)

In [88]:
bgy_df = gpd.read_file('Barangays.shp')

In [90]:
bgy_df[bgy_df['Bgy_Name'] == 'Tutuban Mall (Claimed by Five Barangays of Tondo, Manila)']

,Reg_Code,Reg_Name,Pro_Code,Pro_Name,Mun_Code,Mun_Name,Bgy_Code,Bgy_Name,geometry
34539,PH130000000,NATIONAL CAPITAL REGION (NCR),PH133900000,"NCR, CITY OF MANILA, FIRST DISTRICT (Not a Pro...",PH133901000,TONDO I / II,None,Tutuban Mall (Claimed by Five Barangays of Ton...,"POLYGON ((120.9735186 14.61049475700003, 120.9..."

In [295]:
df = df.reset_index(drop = True)

In [305]:
df = df.iloc[:,0:9]

In [306]:
df2 = psgc_integ(df)

In [401]:
df.to_csv('complete_consolidated_malls.csv', index = False)

In [319]:

def psgc_integ(mall_list, bgy_df):
    psgc_df = pd.DataFrame(columns = ['Reg_Name', 'Pro_Name', 'Mun_Name', 'Bgy_Name', 'Bgy_Code'])
    mall_list['points'] = [Point(xy) for xy in zip(mall_list.LONG, mall_list.LAT)]
    
    for points in mall_list['points']:
        try:
            psgc_df = psgc_df.append(bgy_df[bgy_df['geometry'].contains(points)][['Reg_Name', 'Pro_Name', 'Mun_Name', 'Bgy_Name','Bgy_Code']])

        except IndexError:
            psgc_df = psgc_df.append(pd.Series(), ignore_index=True)
            

    psgc_df = psgc_df.reset_index(drop = True)
    
    mall_list = mall_list.merge(psgc_df, left_index=True, right_index=True)
    
    return mall_list

In [395]:
psgc_df = pd.DataFrame(columns = ['Reg_Name', 'Pro_Name', 'Mun_Name', 'Bgy_Name', 'Bgy_Code'])
df['points'] = [Point(xy) for xy in zip(df.LONG, df.LAT)]

In [396]:
for points in df['points']:
        try:
            psgc_df = psgc_df.append(bgy_df[bgy_df['geometry'].contains(points)][['Reg_Name', 'Pro_Name', 'Mun_Name', 'Bgy_Name','Bgy_Code']])
            print(len(bgy_df[bgy_df['geometry'].contains(points)]))

        except IndexError:
            psgc_df = psgc_df.append(pd.DataFrame([['NA','NA','NA','NA','NA']], columns = psgc_df.columns))

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [397]:
psgc_df = psgc_df.reset_index(drop = True)
    
df = df.merge(psgc_df, left_index=True, right_index=True)

In [ ]:
df

In [374]:
len(df['points'])

772

In [370]:
len(df['LAT'])

772

In [317]:
df2 = psgc_integ(df,bgy_df)

In [399]:
df.iloc[556]

ID                                                 556
NAME                                  SM City Marikina
DEVELOPER                            SM Prime Holdings
LAT                                            14.6261
LONG                                           121.084
SOURCE_ID                                          NaN
SOURCE_NAME                                  Wikipedia
SOURCE_GEOLOC                              Google Maps
RECORD_DATE                                 16/02/2020
REGION                   NATIONAL CAPITAL REGION (NCR)
PROVINCE         NCR, SECOND DISTRICT (Not a Province)
CITY                                       QUEZON CITY
BRGY                                     San Bartolome
PSGC                                       PH137404097
points                    POINT (121.083956 14.626124)
Reg_Name                 NATIONAL CAPITAL REGION (NCR)
Pro_Name         NCR, SECOND DISTRICT (Not a Province)
Mun_Name                              CITY OF MARIKINA
Bgy_Name                                     Calumpang
Bgy_Code                                   PH137402002
Name: 556, dtype: object

In [394]:
bgy_df[bgy_df['geometry'].contains(df['points'][75])]

,Reg_Code,Reg_Name,Pro_Code,Pro_Name,Mun_Code,Mun_Name,Bgy_Code,Bgy_Name,geometry
32213,PH070000000,REGION VII (CENTRAL VISAYAS),PH072200000,CEBU,PH072234000,CITY OF NAGA,PH072234009,East Poblacion,"POLYGON ((123.7595503440001 10.21089803100006,..."

In [403]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 20 columns):
ID               772 non-null int64
NAME             772 non-null object
DEVELOPER        445 non-null object
LAT              772 non-null float64
LONG             772 non-null float64
SOURCE_ID        101 non-null object
SOURCE_NAME      772 non-null object
SOURCE_GEOLOC    772 non-null object
RECORD_DATE      772 non-null object
REGION           772 non-null object
PROVINCE         772 non-null object
CITY             772 non-null object
BRGY             772 non-null object
PSGC             771 non-null object
points           772 non-null object
Reg_Name         772 non-null object
Pro_Name         772 non-null object
Mun_Name         772 non-null object
Bgy_Name         772 non-null object
Bgy_Code         770 non-null object
dtypes: float64(2), int64(1), object(17)
memory usage: 120.8+ KB

In [404]:
df = pd.read_csv('complete_consolidated_malls.csv')

In [409]:
df['LONG'].value_counts()

120.980934    1
125.434100    1
120.855349    1
121.056904    1
124.655921    1
             ..
121.031892    1
120.864997    1
122.568572    1
120.960758    1
122.513256    1
Name: LONG, Length: 772, dtype: int64